/*html{
    position: relative;
    min-height: 100%;
}*/

html, body {
    
    font-family: 'Open Sans', sans-serif;
}

/* ----- Navigation bar ----- */

.navbar {
    font-size: 1.5rem;
    font-family: 'Playfair', sans-serif;
    font-weight: 300;
    letter-spacing: .1rem;    
}

.nav-item {
    padding: .5rem;
}

.nav-link:hover{
    color: rgb(53, 29, 2)!important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    }

/* ---- Header gradient color ---- */

.gradient-custom {
    background: rgb(36,19,0);
    background: -moz-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#241300",endColorstr="#c7a474",GradientType=1);
    }

  /* ----- Hero Image ---- */

.banner-image {
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('/media/hero.webp');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    display: flex;
}

.mask {
    position: absolute;    
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    height: 200px;
    width: 350px;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero-text h1{
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

/* ---- Main Heading Section ---- */

.btn.discover-btn{
    width: 20rem;
    color:rgb(53, 29, 2)!important;
    background-color: #fff;
    text-transform: uppercase;
}

.discover-btn:hover,
.discover-btn:active,
.discover-btn:focus,
.modal-close-btn:hover,
.modal-close-btn:active,
.modal-close-btn:focus,
.checkout-btn {
    background: rgb(36,19,0);
    background: -moz-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#241300",endColorstr="#c7a474",GradientType=1);
    color:#fff;
    transition: 0.7s;
    }


/* ----- Section Sales ---- */

.sales-image {
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('/media/sales-background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;   
    
}

/* --- from Bulma --- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---- Logo and delivery banner ---- */

.logo-font { 
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);    
    font-weight: 300;
    letter-spacing: .1rem;    
}

.main-logo-link {
    width: fit-content;
}


.text-white {
    color: #fff!important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}





/* ------- Products page ----- */

 .products{    
    display: flex;   
    justify-content: space-between;       
    padding: 13px 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
   
 }
 .container-products{
  min-height: 60vh;
   
 }
 .card {
    background: #fff;    
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    margin: 0 auto; /* Added */
    float: none; /* Added */
       
}      

.card-img,
.card-img-top {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .1), 0 0 2rem rgba(0, 0, 0, .1);
    border-radius: 0.2rem;
}

.card:hover {
    transform: scale(1.02);
   
}

 .products-body{
    margin-top: 15rem;
    width: 100%;
 } 
 
 .sort-categories {
    width: 10rem;
    font-size: 1rem;
    text-transform: capitalize;
    color:rgb(53, 29, 2)!important;
    background-color: #fff;
    border-color: #000;

 }

 .sort-categories:hover,
 .sort-categories:active,
 .sort-categories:focus {
    background: rgb(36,19,0);
    background: -moz-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    background: linear-gradient(90deg, rgba(36,19,0,1) 0%, rgba(245,183,95,1) 35%, rgba(199,164,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#241300",endColorstr="#c7a474",GradientType=1);
    color:#fff;
    transition: 0.7s;
    box-shadow: 0 0 0 1px  rgb(61, 34, 2);
 }
 
 .breadcrumb{
    background-color: transparent;
 } 
 .bc-icons .breadcrumb-item + .breadcrumb-item::before+ .breadcrumb-item:last-child{
    content: none; }
 
 a.category-list:link,
 a.category-list:active 
 {    
    color: rgb(12, 11, 11)!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
 } 
 a.category-list:visited {
    color:#e79d34!important;}

 a.category-list:hover {
    color: rgb(12, 11, 11)!important;
    font-size:130%;
}

.image-product{
    height: 20rem;
     width: auto;
}
/* ------------- Product detail page -------- */

.prod_detail_wrap{
    margin-top: 30vh;
    }

.product_size{
    width: 10rem;;
}
.quantity-group{
    width: 10rem;
    margin-left: 1.5rem;
}
.btn.btn-increment{
    background-color:#382004be;
}
/* --- Remove the arrows from input quantity field- W3Schools copied code --- */

/* Chrome, Safari, Edge, Opera */
input.qty_input::-webkit-outer-spin-button,
input.qty_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.qty_input[type=number] {
  -moz-appearance: textfield;
}
 
.tab{
    cursor: pointer;    
    padding:10px 20px;
    background:#fff; 
    border: none;
    box-shadow: 0  0.2rem 0.5rem #00000080;
    width: 12rem;
    
  }
  .tab a:link{
    color: #000;
  }
  .tab-content{
    background:#fffffff6;    
    min-height:100px;    
    width:100%;
    height: auto;   
    padding:20px;  
  }

/* Cart icon  */
ul a.cart:hover {
    text-decoration: none;    
  }
  
  ul a.cart .cart-basket {
    font-size: .6rem;
    position: absolute;
    top: -10px;
    right: -6px;
    width: 20px;
    height: 20px;   
    color: #fff;
    background-color:#3820047e;
    border-radius: 50%;
  }

.cart-basket-mobile{
    font-size: .6rem;
    position: absolute;
    top: -3px;
    right: -2px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color:#3820047e;
    border-radius: 50%;
  }

/* -----Shopping cart page ----- */

.cart-container{
    height: auto;
    margin-top: 20rem;
}
.img-cart {
    height: 20rem;
    width: auto;
}

.update-link,
.remove-item{
    cursor: pointer;
}
  /* ---- Footer ----*/

.footer {     
    background-color: #33240e!important;
    color:#fff;
    font-size: 2px;
   
}

.bottom_border { 
    border-bottom:1px solid #eecfb5; 
    padding-bottom:20px;   
}

#subfooter{
    background-color:#1a1207!important ;
}

/* ---- Order checkout page ---- */
.order_container{
    margin-top: 20rem;
}

/* ------ Contact footer modal --- */


#myModal{      
    color: #000;  
    
}

.modal-header{
    color: #fff;
}

.modal-body{
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}
.modal-close-btn{
    width: 8rem;
}
 
a:link{
    text-decoration: none; 
}

#store-location:hover{
    color: rgb(172, 134, 90)!important;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.4);
    z-index: 1;
       
}
/* ---- Pagination (code reused from PP4-Lamborghinideals)----*/


.pagination-box {
    margin-bottom: 25px;
}

.pagination {
    padding-left: 0;
    border-radius: 4px;
    display: inline-block;
}

.pagination li {
    display: inline-block;
}

.pagination > li > a {
    color: #1a1715;
    font-size: 18px;
    background: #fff;
    font-weight: 400;
}

.pagination > li > a i{
    font-size: 15px;
    font-weight: 600;
}
.pagination > li > a, .pagination > li > span {
    margin: 0 2px 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    padding: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.pagination .page-item:last-child .page-link {
    border-radius: 0;
}
.page-item a:hover {
    background-color: #33240e!important;
   
}
.pagination > li > a:hover {
    color: #eecfb5!important;
}

.pagination > li > .active {
    color: #e96711!important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)!important;
}

.page-link:focus {
    box-shadow: 1px 1px 1px 1px rgb(53, 29, 2)!important;
}

/* --- About page ---- */

.about-container{
    margin-top: 5rem;
    margin-bottom: 10rem;;
    height:auto;
    
}

.hr-about{  
    border: none;
    height: 0.2rem;
    width: 10rem;
    margin-bottom: 10px;
    background: #46260144;
   
}



/* ----- Full page search (code reused from PP4- LamborghiniDeals) ------ */

#full-page-search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 99999;
}

#full-page-search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    width: 100%;
}

#full-page-search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #4d4d4d;
    background: rgba(0, 0, 0, 0);
    font-weight: 400;
    text-align: center;
    border: 0;
    margin-top: -51px;
    padding: 15px;
    max-width: 400px;
    background: #fff;
    outline: none;
    border-radius: 3px;
    font-size: 17px;
}

.search-header{
    max-width: 400px;
    margin: 0 auto;
}

#full-page-search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 400;
    margin-top: 20px;
    margin-left: -45px;
}

#full-page-search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #535353;
    opacity: 1;
    padding: 10px 17px;
    font-size: 17px;
    outline: 0 auto -webkit-focus-ring-color;
    cursor: pointer;
    border-radius: 3px;
    background: #3a3a3a;
}

 /* ----Scroll up button---- */

.scroll_btn {
    position: fixed;
    right: 2rem;
    bottom: 5.5rem;  
    width: 3.5rem;
    height: 3rem;    
    font-size: 2rem;    
    cursor: pointer;
    color: antiquewhite;
    background-color: rgba(172, 134, 90, 0.438)!important;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Toasts  messages copied form BoutiqueAdo */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ----- Confirm email page ---- */
.confirm-email{
    margin-top: 8rem;
}
 /* ----- Add Product page --- */

.add_product{
    margin-top: 20rem;
    height: 100%;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

   
}

@media (max-width: 992px){
     .img-cart-mobile{
        height: 5rem;
        width: auto;
    }
    
   
    .checkout-btn{
        width: 15rem;
        height: 3rem;
        font-size: medium;
    }
   
}


 