<!--Main Navbar-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">       
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="" class="dropdown-item">High Heels</a>
                <a href="" class="dropdown-item ">Sandals</a>
                <a href="" class="dropdown-item ">Sneakers</a>
                <a href="" class="dropdown-item">All Shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="handbags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Handbags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="handbags-link">
                <a href="" class="dropdown-item">Shoulder Bags</a>
                <a href="" class="dropdown-item">Cluch & Evening Bags</a>
                <a href="" class="dropdown-item">Backpacks</a>
                <a href="" class="dropdown-item">All Handbags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Wallets</a>
                <a href="" class="dropdown-item">Belts</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sales
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sales-link">
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Handbags</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Sales</a>
            </div>
        </li>
        
        <li class="nav-item dropdown m-hide d-none d-lg-block  mx-5">
            <a href="#full-page-search" class="nav-link h-icon text-white">
                <i class="fa fa-search"></i>
            </a>
        </li>
    </ul>
</div>