<!--Main Navbar-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">       
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="{% url 'products' %}?category=pumps" class="dropdown-item">Pumps</a>
                <a href="{% url 'products' %}?category=sandals" class="dropdown-item ">Sandals</a>
                <a href="{% url 'products' %}?category=Sneakers" class="dropdown-item ">Sneakers</a>
                <div class="dropdown-divider"></div>  
                <a href="{% url 'products' %}?category=pumps,sandals,Sneakers" class="dropdown-item">All Shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="handbags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Handbags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="handbags-link">
                <a href="{% url 'products' %}?category=shoulder_bags" class="dropdown-item">Shoulder Bags</a>
                <a href="{% url 'products' %}?category=cluch_evening_bags" class="dropdown-item">Cluch & Evening Bags</a>
                <a href="{% url 'products' %}?category=backpacks" class="dropdown-item">Backpacks</a>
                <div class="dropdown-divider"></div>  
                <a href="{% url 'products' %}?category=shoulder_bags,cluch_evening_bags,backpacks" class="dropdown-item">All Handbags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=belts" class="dropdown-item">Belts</a>
                <a href="{% url 'products' %}?category=wallets" class="dropdown-item">Wallets</a>                
                <div class="dropdown-divider"></div>  
                <a href="{% url 'products' %}?category=wallets,belts" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sales-link">
                <a href="{% url 'products' %}?category=sales" class="dropdown-item">Sales</a>
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a> 
                <div class="dropdown-divider"></div>               
                <a href="{% url 'products' %}?category=sales,new_arrivals" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
        
        <li class="nav-item dropdown m-hide d-none d-lg-block  mx-5">
            <a href="#full-page-search" class="nav-link h-icon text-white">
                <i class="fa fa-search"></i>
            </a>
        </li>
    </ul>
</div>