<ul class="list-unstyled my-0">
<li class="list-inline-item"> 
    <div class="my-auto py-1 py-sm-0  d-lg-none">
       <a href="{% url 'home' %}" class="nav-link main-logo-link ">
         <h2 class="logo-font text-white my-0 pr-5 mr-5 "><strong>MM</strong></h2>
       </a>
     </div>
   </li>

<li class="list-inline-item">
    
    <a class="text-white nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'search' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="keyword" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon icon-search">
                            <i class="fas fa-search fa-md"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-md"></i></div>
            
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options2">
        
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="#" class="dropdown-item">{{ user.username }}</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item d-lg-none">

    <a href="{% url 'cart_view' %}" class="nav-link text-white cart position-relative d-inline-flex">
        <i class="fas fa fa-shopping-cart fa-md"></i>
        <span class="cart-basket-mobile d-flex align-items-center justify-content-center">
            {% if product_count %}
                {{product_count}}
            {% else %}
                0
            {% endif %}
        </span>
      </a>    
</li></ul>