{% extends "base.html" %}

{% block navbar %}
<header class="container-fluid fixed-top gradient-custom">
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">        
           <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
             <a href="{% url 'home' %}" class="nav-link main-logo-link">
               <h2 class="logo-font text-white my-0"><strong>MadameMusette</strong></h2>
             </a>
           </div>
        <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center mx-5">
                            <div><i class="fas fa-user fa-lg"></i></div>

                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'user_profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'cart_view' %}" class="nav-link text-white cart position-relative d-inline-flex">
                        <i class="fas fa fa-shopping-cart fa-lg"></i>
                        <span class="cart-basket d-flex align-items-center justify-content-center">
                          {{product_count}}
                        </span>
                      </a>

                </li>
            </ul>
        </div>
    </div>
    <div class="row " id="main_nav">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
        </div>
    </div>

    <div class="row products">
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle sort-categories" data-toggle="dropdown">
                    <i class="fa fa-bars"></i> <span> All category</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                    {% for category in list %}
                    <a class="dropdown-item" href="#">{{ category.friendly_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="dropdown d-inline-block float-left">
                <button type="button" class="btn btn-primary dropdown-toggle sort-categories" data-toggle="dropdown">
                    Sort by:
                </button>
                <div class="dropdown-menu">

                    <a href="{% url 'products' %}?sort=price&direction=as" class="dropdown-item">Price: <small
                            class="text-muted">low to high</small></a>
                    <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price: <small
                            class="text-muted">high to low</small> </a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Rating: <small
                            class="text-muted">high to low</small></a>
                    <a href="{% url 'products' %}?sort=is_customized&direction=asc"
                        class="dropdown-item ">Customised</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>



                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}