{% load static %}
{% load crispy_forms_tags %}

<!doctype html>

<html lang="en">

<head>

  {% block meta %}
  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/21d6103b31.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% endblock %}
  <!-- Favicon icon-->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  {% block extra_js %}
  {% endblock %}

  <title>MadameMusette {% block extra_title %}{% endblock %}</title>
</head>

<body>
  {% block navbar %}
  <header class="container-fluid sticky-top gradient-custom">
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left d-none d-md-block d-lg-block ">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="logo-font text-white my-0"><strong>MadameMusette</strong></h2>
        </a>
      </div>
      <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center mx-5">
                <div><i class="fas fa-user fa-lg"></i></div>

              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'user_profile' %}" class="dropdown-item">{{ user.username }}</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">

            <a href="{% url 'cart_view' %}" class="nav-link text-white cart position-relative d-inline-flex">
              <i class="fas fa fa-shopping-cart fa-lg"></i>
              <span class="cart-basket d-flex align-items-center justify-content-center">
                {% if product_count %}
                {{product_count}}
                {% else %}
                0
                {% endif %}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row " id="main_nav">

      <nav class="navbar navbar-expand-lg navbar-light w-100">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
      <div class="col bg-black text-white">
        <h4 class="logo-font my-1">Free delivery on orders over € {{ free_delivery_threshold }}!</h4>
      </div>
    </div>
  </header>
  {% endblock %}

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_errors.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  {% endblock %}

  <!-- Full Page Search -->

  <div id="full-page-search">
    <button type="button" class="close">×</button>

    <form action="{% url 'search' %}" class="search-header">

      <input type="search" value="" placeholder="Search here" name="keyword" />

      <button type="submit" class="btn btn-sm button-theme">Search</button>

    </form>

  </div>
  <!-- Footer -->
  <footer class="footer bg-dark">

    <div class="container-fluid bottom_border">
      <div class="row w-100 p-3">

        <!-- Subscription-->
        <div class="col-md-4 my-4">
          <div class="col-12 text-center mt-5">
            <h4 class="my-4">Subscribe to our newsletter</h4>
            <!--Test-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-outline-dark btn-lg discover-btn" data-toggle="modal"
              data-target="#myModal">
              Subscribe
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header gradient-custom">
                    <h4 class="modal-title pl-5">Subscribe here!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm mt-5 p-5">

                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                          <form
                            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=b21461786129ec04d2034c23c&amp;id=4e063b8969&amp;f_id=0082bde1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                              <h2>Subscribe!</h2>
                              <p>Get exclusive offers and discount codes by subscribing to ours monthly newsletter.</p>
                              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                              <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                  required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                              </div>
                              <div class="mc-field-group size1of2">
                                <label for="mce-BIRTHDAY-month">Birthday </label>
                                <div class="datefield">
                                  <span class="subfield monthfield">
                                    <input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM"
                                      size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month">
                                  </span> /
                                  <span class="subfield dayfield">
                                    <input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD"
                                      size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day">
                                  </span>
                                  <span class="small-meta nowrap">( mm / dd )</span>
                                </div>
                                <span id="mce-BIRTHDAY-HELPERTEXT" class="helper_text"></span>
                              </div>                           
                             
                              <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                              </div>
                              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                  name="b_b21461786129ec04d2034c23c_4e063b8969" tabindex="-1" value=""></div>
                                  <div class="form-check float-left mb-5">
                                    <input class="form-check-input ml-2" type="checkbox" value="" id="flexCheckDefault" required>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      <strong class="text-dark pl-5">Accept our</strong>  <a
                                      href="https://www.privacypolicygenerator.info/live.php?token=UGGLWVkbk22RuiO54QiS6Vsu4LbBWf37"
                                      target="_blank">Privacy Policy</a>
                                    </label>
                                  </div> 

                              <div class="optionalParent">
                                <div class="clear foot">
                                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button">

                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!--End mc_embed_signup-->

                      </div>
                      <div class="col-sm">
                        <img src="{{ MEDIA_URL }}modal-shoes.png" alt="high heels" width="300" height="300">
                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer gradient-custom">

                  </div>

                </div>
              </div>
            </div>
            <!--End Test-->


            <!--Button Info-->

            <div class="dropdown mt-2">
              <button class="btn btn-outline-dark btn-lg discover-btn dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Info
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'about' %}">About</a>
                <a class="dropdown-item"
                  href="https://www.privacypolicygenerator.info/live.php?token=UGGLWVkbk22RuiO54QiS6Vsu4LbBWf37"
                  target="_blank">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
        <!--End Subscription-->

        <!-- Section: Social media -->
        <div class="col-md-4 my-4">
          <div class="col-12 text-center mt-5">
            <h4 class="my-4">Follow us</h4>
            <div class="social text-white">

              <!-- social icons copied from https://mdbootstrap.com/docs/standard/extended/social-media-icons-footer/ -->

              <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1"
                  href="https://www.facebook.com/profile.php?id=100091938860938" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/MusetteRomania"
                  target="_blank" role="button"><i class="fab fa-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/musette.official/"
                  target="_blank" role="button"><i class="fab fa-instagram"></i></a>
              </section>
            </div>


          </div>
        </div>
        <!-- End Social media -->

        <!--Contact Us and Store Location-->
        <div class="col-md-4 my-4">


          <div class="col-12 text-center mt-5">

            <h4 class="my-4">Contact Us</h4>
            <div>
              <form action="{% url 'contactView' %}" method="POST">
                {% csrf_token %}
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-outline-dark btn-lg discover-btn" data-toggle="modal"
                  data-target="#myModal1" id="contact_us_modal">
                  Contact Us
                </button>
                <!-- The Modal -->
                <div class="modal" id="myModal1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header gradient-custom">
                        <h4 class="modal-title pl-5">You can write your message here!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-sm mt-5 p-5 text-dark">

                            {{ c_form }}

                          </div>
                          <div class="col-sm">
                            <img src="{{ MEDIA_URL }}modal-shoes.png" alt="high heels" width="300" height="300">
                          </div>
                        </div>
                        <div class="form-check float-left">
                        <input class="form-check-input ml-2" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                          <strong class="text-dark pl-5">Accept our</strong>  <a
                          href="https://www.privacypolicygenerator.info/live.php?token=UGGLWVkbk22RuiO54QiS6Vsu4LbBWf37"
                          target="_blank">Privacy Policy</a>
                        </label>
                      </div>
                      </div>

                      
                      <!-- Modal footer -->
                      <div class="modal-footer gradient-custom">
                        
                        <button type="submit" class="btn btn-outline-dark btn-md modal-close-btn ">Submit</button>

                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="text-center">
            <h4 class="my-4 ml-5">Store location:</h4>
            <a href="https://www.google.com/maps/place/Blanchardstown+Centre/@53.3931251,-6.3983277,14.75z/data=!4m6!3m5!1s0x48670d50e9317be7:0x1ef966973dd6d646!8m2!3d53.3918686!4d-6.3910117!16s%2Fm%2F05qb9zy"
              target="_blank">
              <h6 class="text-white ml-5 " id="store-location"><i class="fas fa-map-marker-alt"></i> Blankcharstown
                Shopping
                Center</h6>
            </a>
          </div>
        </div>
        <!--End Contact Us and Store Location-->

      </div>
    </div>
    <!-- Start subfooter -->
    <div class="container-fluid" id="subfooter">
      <div class="row">
        <div class="col-lg-4 p-4">
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">
            <h6>© 2023 Copyright:MadameMusette Co</h6>
          </a></div>
        <div class="col-lg-8 text-lg-right p-4">
          <h6>The content of this website is for academic purpouse.</h6>
        </div>
      </div>
    </div>
    <!-- End subfooter -->

  </footer>
  <!--End Footer-->

  <!--Scroll up button-->
  <a href="#" class="scroll_btn text-white" aria-label="Scroll"><i class="fas fa-arrow-up"></i></a>

  <!--Mailchimp Javascript-->

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>

</body>

</html>