{% extends "base_shop.html" %}
{% load mathfilters %}
{% load static %}
{% block extra_title %}Products{% endblock %}
{% block content %}

<div class="container-fluid h-100 container-products">
    <div class="row products-body">
        <div class="row mt-10 ml-3 bc-icons" aria-label="breadcrumb">
            <!--<div class="col text-center mt-3"> </div>-->

            {% for categ in categories %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none category-list"
                        href="{% url 'products' %}?category={{ categ.name }}">
                        <span class="text-black arr-right">{{ categ.friendly_name }}</span>
                    </a><i class="fa fa-angle-right mx-2" aria-hidden="true"></i></li>
            </ol>
            {% endfor %}


        </div>

        <div class="row-fluid w-100 products-display">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-5">
                    <div
                        class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector"
                                class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if sorting_products == 'None_None' %}selected{% endif %}>Sort
                                    by...</option>
                                <option value="price_asc" {% if sorting_products == 'price_asc' %}selected{% endif %}>
                                    Price (low to high)</option>
                                <option value="price_desc" {% if sorting_products == 'price_desc' %}selected{% endif %}>
                                    Price (high to low)</option>
                                <option value="rating_asc" {% if sorting_products == 'rating_asc' %}selected{% endif %}>
                                    Rating (low to high)</option>
                                <option value="rating_desc"
                                    {% if sorting_products == 'rating_desc' %}selected{% endif %}>Rating (high to low)
                                </option>
                                <option value="name_asc" {% if sorting_products == 'name_asc' %}selected{% endif %}>Name
                                    (A-Z)</option>
                                <option value="name_desc" {% if sorting_products == 'name_desc' %}selected{% endif %}>
                                    Name (Z-A)</option>
                                <option value="category_asc"
                                    {% if sorting_products == 'category_asc' %}selected{% endif %}>Category (A-Z)
                                </option>
                                <option value="category_desc"
                                    {% if sorting_products == 'category_desc' %}selected{% endif %}>Category (Z-A)
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if products or categories or sorting_products != 'None_None' %}
                           <a href="{% url 'home' %}" class="text-black"><span class="small"><i
                                        class="fa fa-fw fa-home"></i>| </span></a> 
                            {% endif %}
                            {{ products|length }} items {% if products %} | {{ categ.friendly_name }} {{ keyword }}
                            {% endif %}
                        </p>
                    </div>
                </div>


                <!-- Products distlay-->

                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 w-100 border-0 align-items-center ">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}" target="_blank">
                                <img class="card-img-top img-fluid image-product" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}
                                    {% if product.category %}
                                    <a class="text-muted"
                                        href="{% url 'products' %}?category={{ product.category.name }}">
                                        / <span>{{ product.category.friendly_name }}</span>
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-center font-weight-bold mt-3 mb-3">€
                                            {{ product.price }}</p>

                                        {% if product.rating %}
                                        <small class="text-muted text-left"><i
                                                class="fas fa-star mr-1"></i>{{ product.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted text-left mr-5">No Rating</small>
                                        {% endif %}
                                        <span class="text-right ml-5">
                                            <a id="{{ product.id }}" class="btn-like">
                                                {% if logged_user in product.like.all %}
                                                    <i class="fa-solid fa-heart fa-sm" style="color: #ce7227;"></i>
                                                {% else %}
                                                     <i class="far fa-heart" style="cursor: pointer"></i>
                                                {% endif %}
                                            </a>                                            
                                        </span>
                                        <small class=" text-muted ">
                                        {% if product.like.count < 1 %}
                                        {% elif product.like.count == 1 %}    
                                        {% elif product.like.count > 1 %}
                                         {{ product.like.count|sub:1 }} Likes
                                        {% endif %}
                                    </small>
                                    </div>
                                  
                                </div>
                                 <div>
                                   
                                    
                                    
                                   </div>
                                 {% if request.user.is_superuser %}
                                    <small class="mt-5 float-right">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> |

                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- End Products display -->
            </div>
        </div>

    </div>
    <!-- Page navigation start -->

    <div class="pagination-box p-box-2 text-center">
        <nav aria-label="Page navigation example">
            {% if products.has_other_pages %}
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{products.previous_page_number}}"><i
                            class="fa fa-angle-left"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><i class="fa fa-angle-left"></i></a>
                </li>
                {% endif %}

                {% for p in products.paginator.page_range %}
                {% if products.number == p %}
                <li class="page-item"><a class="page-link active" href="#">{{p}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{products.next_page_number}}"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><i class="fa fa-angle-right"></i></a>
                </li>
                {% endif %}

            </ul>
            {% endif %}
        </nav>
    </div>
</div>

<!-- End Pagination -->
{% endblock %}


<!-- Function copied from Boutique Ado project-->

{% block postloadjs %}
{{ block.super }}


<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

    window.CSRF_TOKEN ="{{ csrf_token }}"
    $(document).on('click', '.btn-like', function(){
        var product_id = this.id
        $.ajax({
            method:"POST",
            url:'/products/like',
            data:{product_id:product_id, csrfmiddlewaretoken:window.CSRF_TOKEN}
        })
        window.location.href="https://madamemusette.herokuapp.com/products/?category=pumps,sandals,Sneakers"
    })
</script>
{% endblock %}